@mixin darkGradient($direction) {
  background: transparent linear-gradient(
    $direction + deg,
    #10007A 10%,
    #0D1B2A 30%,
    #392F5A 73%,
    #5356A2 100%
  )
}


main {
  text-align: center;
  vertical-align: center;
  font-size: 12px;
  line-height: 20vh;
  @include darkGradient(0);
  color: white;
}
